.tpt-faq-two .tpt-faq-two_group-title {
	margin-bottom: 1.5rem;
}

.tpt-faq-two .tpt-accordion_border tpt-accordion-item {
	background-color: var(--item-background-color);
	color: var(--item-text-color);
	border: 1px solid rgba(var(--item-text-color), 0.6);
	border-radius: var(--item-border-radius);
}

.tpt-faq-two .tpt-accordion_title {
	color: rgb(var(--item-text-color));
}

.tpt-faq-two .tpt-accordion_description {
	color: rgba(var(--item-text-color), 0.7);
}

@media screen and (min-width: 1024px) {
	.tpt-faq-two_container {
		display: flex;
		column-gap: 5rem;
	}

	.tpt-faq-two_container .tpt-section-header {
		width: 35%;
		min-width: 35%;
	}

	.tpt-faq-two_container .tpt-section-body {
		width: 100%;
	}
}
